/* Revert tab throbber - for Nightly 57 as of 9/20/2017
.tab-throbber[busy]::before {
    background-image: url("chrome://global/skin/icons/loading.png") !important;
    animation: unset !important;
}
.tab-throbber[busy]:not([progress])::before {
    Grays the blue during "Connecting" state 
    filter: grayscale(100%);
}
@media (min-resolution: 2dppx) {
    .tab-throbber[busy]::before {
        background-image: url("chrome://global/skin/icons/loading@2x.png") !important;
    }
}*/

/*#TabsToolbar .tabbrowser-tab .tab-line {
    display: none !important;
}
.tab-content {
    padding: 0 5px;
}
* {
    font-family: "Noto Sans";
}*/

/*.tab-line:not([selected="true"]) {*/

.tab-line {
    transition: none !important;
}

.tabs-newtab-button {
    --toolbarbutton-border-radius: 0 4px 4px 0 !important;
}

.tabs-newtab-button {
    padding-left: 0px !important;
}
